* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100%;
    background-image: url(https://t4.ftcdn.net/jpg/04/61/23/23/360_F_461232389_XCYvca9n9P437nm3FrCsEIapG4SrhufP.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    margin: 20px;
}

.input {
    border: 2px solid black;
    font-size: 2rem;
    font-weight: 400;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}

.btn {
    padding: 10px 20px;
    font-size: 2em;
    font-weight: 400;
    border: none;
    background-color: rgb(60, 128, 189);
    color: #ffffffde;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(70, 141, 202);
}

.input,
.btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loader {
    font-size: 1.2rem;
    font-weight: 600;
}

.container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
    background: linear-gradient(135deg,
            #b2e9ff 0%,
            #3bf3b6 35%,
            #76f3e9 65%,
            #4184ac 100%);
    color: rgb(7, 6, 5);
    box-shadow: 2px 2px 5px rgb(56, 7, 63);
    border-radius: 5px;
}

.city {
    font-size: 2rem;
    font-weight: 700;

}

.temp {
    font-size: 1.5rem;
}

.humidity {
    font-size: 1.5rem;
}

.desc {
    font-size: 1.2rem;
}

.error {
    font-size: 2rem;
    font-weight: 600;
    color: #000000d2;
}

@media (max-width: 1000px) {
    .input {
        font-size: 1rem;
        padding: 10px;
    }

    .btn {
        font-size: 1rem;
        margin-top: 10px;
    }

    .container {
        justify-content: center;
        padding: 16px;
    }

    .city {
        font-size: 1.4rem;
    }

    .temp {
        font-size: 1.2rem;
    }
}



.hidden {
    display: none;
}