* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    background: linear-gradient(
        135deg,
        #1de2c1 0%,
        #b6fdff 35%,
        #42ffc0 65%,
        #1b5eec 100%
    );
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100%;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    margin: 20px;
}

.input {
    border: 2px solid black;
    font-size: 2rem;
    font-weight: 400;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}

.btn {
    padding: 10px 20px;
    font-size: 2em;
    font-weight: 400;
    border: none;
    background-color: rgb(60, 128, 189);
    color: #ffffffde;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(70, 141, 202);
}

.input,.btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 50px;
    background: linear-gradient(
        135deg,
        #1dbfff 0%,
        #3bf3b6 35%,
        #37c2b6 65%,
        #4184ac 100%
    );
    color: rgb(7, 6, 5);
    box-shadow: 2px 2px 5px rgb(56, 7, 63);
    border-radius: 5px;
}

.city {
    font-size: 2rem;
    font-weight: 700;

}

.temp {
    font-size: 1.5rem;
}

.humidity {
    font-size: 1.5rem;
}

.desc {
    font-size: 1.2rem;
}

.error {
    font-size: 2rem;
    font-weight: 600;
    color: #000000d2;
}

.hidden {
    display: none;
}